# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
TestResults/
out/

# IDEs
.idea/
.vscode/

# .NET
project.lock.json
project.fragment.lock.json
artifacts/
*.dbmdl
*.pdb
*.tmp

# Others
*.cache
*.log
*.vsidx
